.circle {
  border-radius: 50%;
}

.center {
  text-align: center;
}

.inline {
  display: flex;
}

.full_width {
  width: 100%;
}

.avg_width {
  width: 80%;
}

.full-height {
  height: 100%;
}

.middle {
  margin: auto;
}

.border {
  border: 1px solid black;
}

.color {
  background-color: #154854;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1.5vh;
  padding-bottom: 2vh;
  width: 80%;
  margin: auto;
  margin-top: 2vh;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.side_bar {
  color: white;
  background-color: black;
  z-index: 0;
  right: 0;
  top: 0;
  position: fixed;
  width: 25%;
  height: 100%;
  align-content: center;
}

.bar_icon {
  width: 3vw;
  height: 6vh;
  position: fixed;
  right: 0;
  top: 0;
}

.medium_pic {
  height: 30vh;
}

.top_space {
  margin-top: 10vh;
}

.little_top_space {
  margin-top: 7vh;
}

.input_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 3.5vh;
  font-size: 2.2vh;
  padding: 0.4vw;
  color: #464848;
  margin-top: 1.6vh;
  margin-left: 4.5vw;
}

.margin_left {
  margin-left: 4.5vw;
}

.small_input_text {
  width: 80%;
  margin-left: 0vw;
}

.large_input_text {
  height: 29vh;
}

.side_Button {
  margin-top: 1.8vh;
  height: 5vh;
  width: 15%;
}

.button {
  color: white;
  background-color: #5b7f87;
  border: 1px #154854 solid;
  font-size: 2.7vh;
  margin-left: 1vw;
}

.button:hover {
  background-color: #446d76;
}

.button:active {
  background-color: #2c5a65;
}

.user_name {
  margin: auto;
  margin-left: 6vh;
}

.active {
  border-bottom: 2px solid #42b3f4;
  color: black;
  cursor: default;
}

.in_active {
  color: rgb(168, 166, 166);
  cursor: pointer;
}

.tab {
  padding: 1vh;
  font-weight: 800;
}

.tabs {
  margin: auto;
  width: 70%;
  text-align: center;
  margin-top: 3vh;
}

.user_page {
  width: 65%;
  padding: 4vw;
  margin: auto;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white,
    12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 15px -4px rgba(31, 73, 125, 0.8);
  min-height: 83vh;
}

.profile {
  padding-bottom: 3vh;
  border-bottom: 1px solid black;
  margin: auto;
}
